<% layout('./layout/page') %>
<% block('title', "BrainFack") %>

<body onload="init();">

<script src="stylesheets/style.css"></script>
<script language="Javascript" src="sourse/array.js"></script>
<script src="sourse/sourseCode.js"></script>

<div id="page">

    <form name="mainform" id="mainform">

        <table cellspacing="20" cellpadding="0" border="0" align="center">
            <tr valign="top">
                <td>
                    Program:<br>
                    <select onchange="this.form.source.value=this.options[this.selectedIndex].value; this.selectedIndex=0;" id="edit_progs">
                        <option value="">Example programs...</option>
                        <option value="++++++++++[>+++++++>++++++++++>+++>+<<<<-]>++.>+.+++++++..+++.>++.<<+++++++++++++++.>.+++.------.--------.>+.>.">Hello World</option>
                        <option value=",[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>++++++++++++++<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>>+++++[<----->-]<<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>++++++++++++++<-[>+<-[>+<-[>+<-[>+<-[>+<-[>++++++++++++++<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>>+++++[<----->-]<<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>+<-[>++++++++++++++<-[>+<-]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]>.[-]<,]">Rot 13 (slow!)</option>
                        <option value="+++++++++++>+>>>>++++++++++++++++++++++++++++++++++++++++++++>++++++++++++++++++++++++++++++++<<<<<<[>[>>>>>>+>+<<<<<<<-]>>>>>>>[<<<<<<<+>>>>>>>-]<[>++++++++++[-<-[>>+>+<<<-]>>>[<<<+>>>-]+<[>[-]<[-]]>[<<[>>>+<<<-]>>[-]]<<]>>>[>>+>+<<<-]>>>[<<<+>>>-]+<[>[-]<[-]]>[<<+>>[-]]<<<<<<<]>>>>>[++++++++++++++++++++++++++++++++++++++++++++++++.[-]]++++++++++<[->-<]>++++++++++++++++++++++++++++++++++++++++++++++++.[-]<<<<<<<<<<<<[>>>+>+<<<<-]>>>>[<<<<+>>>>-]<-[>>.>.<<<[-]]<<[>>+>+<<<-]>>>[<<<+>>>-]<<[<+>-]>[<+>-]<<<-]">Fibonacci Numbers</option>
                        <option value="++++++++++++++++++++#++++++++++++++++++++#++++++++++++++++++++#++++++++++++++++++++#++++++++++++++++++++#-.--.+++++++++++.">Breakpoints Demo</option>
                    </select><br>
                    <textarea id="edit_source" name="source" wrap="virtual" class="edit"></textarea><br>
                    <br>

                    Input:<br>
                    <input type="radio" id="input_mode_1" name="input_mode" value="1" onclick="sync_input();"> Prompt for input as needed<br>
                    <input type="radio" id="input_mode_2" name="input_mode" value="2" onclick="sync_input();" checked> Pre-supply input:<br>
                    <textarea id="edit_input" name="input" wrap="virtual" class="editsmall"></textarea><br>
                    <br>

                    Output:<br>
                    <textarea id="edit_output" name="output" wrap="virtual" class="editsmall"></textarea><br>
                    <br>
                </td>
                <td>
                    <br>
                    <input type="button" value="Run" onclick="run(this.form);" id="button_run">
                    <input type="button" value="Start Debugger" onclick="debug_toggle(this.form);" id="button_debug">
                    <input type="button" value="Single Step" onclick="run_step();" disabled id="button_step">
                    <input type="button" value="Run To Breakpoint" onclick="run_debug();" disabled id="button_run_debug">
                    <br>
                    <br>

                    Source Viewer:<br>
                    <pre class="viewer" id="progview"> </pre>
                    <br>

                    Memory Viewer:<br>
                    <p class="viewer" id="memview"> </p>
                    <br>

                    Input Viewer:<br>
                    <pre class="viewer" id="inputview"> </pre>
                    <br>

                    Output Viewer:<br>
                    <pre class="viewer" id="outputview"> </pre>
                    <br>

                    <b>Note:</b> The hash ("#") character marks a breakpoint.
                </td>
            </tr>
            <tr valign="top">
                <td colspan="2">
                    Example programs taken from <a href="http://esoteric.sange.fi/brainfuck/">the Brainfuck Archive</a>
                </td>
            </tr>
        </table>

    </form>

</div>

</body>
</html>
