body {
  margin: 0px;
  background-color: #eeeeee;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif, serif;
}

textarea.editsmall {
  width: 400px;
  height: 100px;
}

textarea.edit {
  width: 400px;
  height: 200px;
}

div.main {
  padding: 6px;
  border: 1px solid #000000;
  background-color: #dddddd;
}

pre.viewer {
  width: 510px;
  padding: 6px;
  border: 1px solid #000000;
  background-color: #dddddd;
  margin: 0px;
}

p.viewer {
  width: 510px;
  padding: 6px;
  border: 1px solid #000000;
  background-color: #dddddd;
  margin: 0px;
  font-family: monospace;
  white-space: pre;
}